@import 'tailwindcss';

@font-face {
  font-family: 'FontinRegular';
  src: url('/fonts/Fontin-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color-scheme: light dark;
  color: #dfcf99;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/mirror3.webp);
  background-color: #000000;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  :root {
    background-size: contain;
  }
}
